* {
    box-sizing: border-box;
  }
.header{
    border: 1px solid #000000;
    padding: 15px;
    background-color: #008080;
    color: #FFF;
   text-align: center;
  }
.student-houres{
    width: 33.3%;
    float: left;
    padding: 15px;
    border: 1px solid #000000;
    text-align: center
  }
.parent-houres{
    width: 33.3%;
    float: left;
    padding: 15px;
    border: 1px solid #000000;
    text-align: center
  }
.balance{
    width: 33.3%;
    float: left;
    padding: 15px;
    border: 1px solid #000000;
    text-align: center
  }