* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #d5dae5;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.header {
	position: absolute;
	width: 100%;
	z-index: 3;
	height: 44px;
	background-color: #fff;
	border-bottom: 3px solid #2d3d51;
}
.notification-trigger {
    color: #333;
    position: relative;
    text-decoration: none;
    float: right;
    margin: 12px 30px 0 0;
    font-size: 20px;
    color: #333;
}
.notification-trigger .notification-num {
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50px;
    text-align: center;
    line-height: 16px;
    display: block;
    background: #d9232b;
    color: #fff;
    top: -4px;
    right: -11px;
    font-size: 10px;
}
.panel {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 44px 0 0 0;
    top: 0;
    background-color: #f3f2ec;
    display: none;
    z-index: 2;
}
.panel.visible {
    display: block;
}
.panel .title {
    position: absolute;
    background-color: #fff;
    color: #484846;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    z-index: 3;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .panel {
        width: 300px;
        right: 0;
        border: 1px solid #ddd;
        box-shadow: -1px 0px 1px #e0ded5; 
    }
}
ul.notification-bar {
	list-style: none;
	padding: 60px 10px;
	margin: 0;
	position: relative;
	z-index: 1;
	height: 100%;
  }
  
  .notification-bar li:not(:first-child) {
	margin-top: 60px;
  }
  .notification-bar li div {
	margin-left: 50px;
	margin-top: -40px;
	border: 1px solid #c7c6c2;
	padding: 10px;
	background-color: #eeede8;
	border-radius: 3px;
	font-size: 14px;
	color: #7b7a76;
	box-shadow: 1px 1px 2px #dedcd4;
  }
  .notification-bar li i {
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	border: 2px solid #008dcb;
	border-radius: 100%;
	background-color: white;
	color: #008dcb;
  }
  .notification-bar li.unread i {
	  background-color: #008dcb;
	  color: #fff;
  }
  .notification-bar li.unread div {
	  border-color: #008dcb;
	  background-color: #008dcb;
	  color: #fff;
  }
  .notification-bar li i:after {
	content: '';
	width: 40px;
	height: 2px;
	position: absolute;
	background-color: #ddd;
	margin-top: 8px;
	z-index: -1;
  }
  .notification-bar:after {
	content: '';
	width: 2px;
	height: 100%;
	background-color: #deddd5;
	position: absolute;
	top: 0;
	left: 28px;
	z-index: -1;
  }
/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
	height: 44px;
	padding: 10px;
	font-weight: 700;
}
.header .logo {
	color: #233245;
}

.side-nav .logo {
	background-color: #233245;
	color: #fff;
}
.header .logo {
	float: left;
}
.header .logo {
	height: 44px;
	z-index: 1;
	padding: 10px;
	font-weight: 700;
	color: #233245;
}
.logo  i {
	font-size: 22px;
}
.logo span {
	margin-left: 5px;
	text-transform: uppercase;
}
.nav-trigger {
	position: relative;
	float: right;
	width: 20px;
	height: 44px;
	right: 30px;
	display: block;	
}
.nav-trigger span, .nav-trigger span:before, span:after {
	width: 20px;
	height: 2px;
	background-color: #35475e;
	position: absolute;
}
.nav-trigger span {
	top: 50%;
}
.nav-trigger span:before, .nav-trigger span:after {
	content: '';
}
.nav-trigger span:before {
	top: -6px;
}
.nav-trigger span:after {
	top: 6px;
}
/* side navigation styles */
.side-nav {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: #35475e;
	z-index: 1;
	display: none;
}
.side-nav.visible {
	display: block;
}
.side-nav ul {
	margin: 0;
	padding: 0;
}
.side-nav ul li {
	padding: 16px 16px;
	border-bottom: 1px solid #3c506a;
	position: relative;
}
.side-nav ul li.active:before {
	content: '';
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
}
.side-nav ul li a {
	color: #fff;
	display: block;
	text-decoration: none;
}
.side-nav ul li i {
	color: #0497df;
	min-width: 20px;
	text-align: center;
}
.side-nav ul li span:nth-child(2) {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 600;
}
/* main content styles */
.main-content {
	padding: 40px;
	margin-top: 0;
	padding: 0;
	padding-top: 44px;
	height: 100%;
	overflow: scroll;
}
.main-content .title {
	background-color: #eef1f7;
	border-bottom: 1px solid #b8bec9;
	padding: 10px 20px;
	font-weight: 700;
	color: #333;
	font-size: 18px;
}
/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 600px) {
	.header {
		background-color: #35475e;
		z-index: 1;
	}
	.header .logo {
		display: none;
	}
	.nav-trigger {
		display: none;
	}
	.nav-trigger span, .nav-trigger span:before, span:after {
		background-color: #fff;
	}
	.side-nav {
		display: block;
		width: 70px;
		z-index: 2;
	}
	.side-nav ul li span:nth-child(2) {
		display: none;
	}
	.side-nav .logo i {
		padding-left: 12px;
	}
	.side-nav .logo span {
		display: none;
	}
	.side-nav ul li i {
		font-size: 26px;
	}
	.side-nav ul li a {
		text-align: center;
	}
	.main-content {
		margin-left: 70px;
	}
}
/* set element styles for desktop */
@media screen and (min-width: 800px) {
	.side-nav {
		width: 200px;
	}
	.side-nav ul li span:nth-child(2) {
		display: inline-block;
	}
	.side-nav ul li i {
		font-size: 16px;
	}
	.side-nav ul li a {
		text-align: left;
	}
	.side-nav .logo i {
		padding-left: 0;
	}
	.side-nav .logo span {
		display: inline-block;
	}
	.main-content {
		margin-left: 200px;
	}
}

/* main box container */
.main {
	display: flex;
	flex-flow: row wrap;
}
.widget {
	flex-basis: 300px;
	flex-grow: 10;
	height: 300px;
	margin: 15px;
	border-radius: 6px;
	background-color: #ffffff;
	position: relative;
}
.widget .title {
	background-color: #eef1f7;
	border-bottom: 1px solid #dfe4ec;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #617085;
	font-weight: 600;
}
